.best {
  // border: 1px solid red;
  background-color: $grey10;
  padding: 35px 0;
  @include mq-md {
    padding: 60px 0;
  }
}

.best .headers {
  text-align: center;
  padding-bottom: 20px;
    @include mq-md {
        padding-bottom: 30px;
    }
  &__title {
    font: 24px $cb;
    margin: 0;
    @include mq-lg {
      font-size: 38px;
    }
  }
  &__suptitle {
    color: $headers-h3;
    font: 14px $cr;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    position: relative;
    @include mq-lg {
      font-size: 18px;
    }
    &:after {
      content: url('../images/headers.png');
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      @include mq-sm {
        top: 0;
      }
    }
  }
}

.best .order {
  border: 8px solid $order-border;
  border-radius: 3px;
  height: 310px;
  padding: 30px 15px;
  background-color: $white;
  max-width: 400px;
  margin: 0 auto;
  @include mq-md {
    max-width: 100%;
    height: 165px;
    // margin: 0 0 0 auto;
  }
  @include mq-lg {
    padding: 40px 75px;
    height: 205px;
  }
  &__title {
    font: 19px $cb;
    color: $black;
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
    @include mq-md {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
    @include mq-lg {
      font-size: 26px;
      line-height: 36px;
      margin: 0 0 30px 0;
    }
  }
  &__input {
    display: block;
    padding: 10px 10px 10px 50px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid $order-inp;
    border-radius: 3px;
    color: $light-grey;
    font: 13px $cr;
    @include mq-md {
      display: block;
      width: 201.3333333333333px;
      margin: 0 20px 0 0;
      float: left;
    }
    @include mq-lg {
      width: 251.3333333333333px;
      margin: 0 30px 0 0;
    }
  }
  &__input--name {
    background: url('../images/order__input--name.png') 10px center no-repeat;
  }
  &__input--tel {
    background: url('../images/order__input--tel.png') 10px center no-repeat;
  }
  &__btn {
    font: 15px $cb;
    text-transform: uppercase;
    color: #fff;
    width: 188px;
    height: 39px;
    background-color: $order-btn;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
    display: block;
    @include mq-md {
      display: inline-block;
      height: 37px;
      width: 201.3333333333333px;
      margin: initial;
    }
    @include mq-lg {
      width: 251.3333333333333px;
    }
  }
}

.best__form {
  @include mq-md {
    overflow: auto;
  }
}

// Слайдер
.bxslider8 {
  margin: 0 0 30px 0;
  padding: 0;
  @include mq-md {
    margin: 0;
  }
}

.bxslider8__slide {
  list-style-type: none;
  // border: 1px solid red;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  &:nth-of-type(1n+2) {
    margin-top: 20px;
    @include mq-md {
      margin-top: 0;
    }
  }
  @include mq-md {
    box-shadow: none
  }
}

.bx-pager8 {
  display: none;
  @include mq-md {
    display: flex;
    align-items: center;
    position: relative;
    top: 8px;
    z-index: 22;
  }
  &__link {
    @include mq-md {
      flex: 1;
      padding: 18px 0 18px;
      color: $white;
      background-color: $banners-btn;
      text-align: center;
      font: 16px $cr;
      &:nth-of-type(1n+2) {
        margin-left: 5px;
      }
    }
  }
}

.bx-pager8__link.active {
  @include mq-md {
    background-color: $banners-btn-hover;
    height: 70px;
    color: $white;
    padding: 26px 0 26px 0;
    position: relative;
  }
  &:after {
    content: url('../images/arrow-down.svg');
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    text-align: center;
  }
}

// Карточка продукта
.prod {
  padding: 25px 15px;
  @include mq-md {
    padding: 40px;
  }
  @include mq-lg {
    padding: 50px 55px;
  }
  &__title {
    font: 18px $cr;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #9f9f9f;
    @include mq-lg {
      font-size: 26px;
    }
    .prod__span {
      font: 18px $cb;
      @include mq-lg {
        font-size: 26px;
      }
    }
  }
}

.cardp {
  margin-top: 30px;
  @include mq-md {
    margin-top: 30px;
    display: flex;
  }
  &__photo {
    // border: 1px solid red;
    height: 150px;
    @include mq-md {
      flex: 1;
      /*  0 1 350px */
      height: 350px;
      margin-right: 30px;
    }
  }
  &__descr {
    // border: 1px solid red;
    @include mq-md {
      flex: 1;
    }
    .cardp__title {
      font: 16px $cb;
      margin-top: 20px;
      @include mq-md {
        margin-top: 0;
      }
      @include mq-lg {
        font-size: 18px;
      }
    }
    .cardp__list {
      margin: 5px 0 0;
      padding: 0;
      list-style-type: none;
      @include mq-lg {
        margin-top: 10px;
      }
      .cardp__item {
        font: 14px $cr;
        line-height: 22px;
        padding-left: 10px;
        background: url('../images/cardp__item.png') left 10px no-repeat;
        @include mq-lg {
          font-size: 16px;
          line-height: 26px;
          background: url('../images/cardp__item.png') left 11px no-repeat;
        }
      }
    }
  }
}

.cardp__photo--bg2 {
  background: url('../images/cardp__photo--bg2.jpg') center top no-repeat;
}

.cardp__photo--bg3 {
  background: url('../images/cardp__photo--bg3.jpg') center top no-repeat;
}

.cardp__photo--bg4 {
  background: url('../images/cardp__photo--bg4.jpg') center top no-repeat;
}

.cardp__photo--bg5 {
  background: url('../images/cardp__photo--bg5.jpg') center top no-repeat;
}

.cardh {
  display: flex;
  margin-top: 20px;
  @include mq-lg {
    margin-top: 40px;
  }
  &__block {
    flex: 1;
    font: 14px $cr;
    color: $grey5;
    // border: 1px solid red;
    text-align: center;
    padding-top: 65px;
  }
  &__block1 {
    background: url('../images/cardh__block1.png') center top no-repeat;
  }
  &__block2 {
    background: url('../images/cardh__block2.png') center top no-repeat;
  }
  &__block3 {
    background: url('../images/cardh__block3.png') center top no-repeat;
  }
  &__block4 {
    background: url('../images/cardh__block4.png') center top no-repeat;
  }
  &__block5 {
    background: url('../images/cardh__block5.png') center top no-repeat;
  }
  &__block6 {
    background: url('../images/cardh__block6.png') center top no-repeat;
  }
  &__block7 {
    background: url('../images/cardh__block7.png') center top no-repeat;
  }
  &__block8 {
    background: url('../images/cardh__block8.png') center top no-repeat;
  }
  &__block9 {
    background: url('../images/cardh__block9.png') center top no-repeat;
  }
  &__block10 {
    background: url('../images/cardh__block10.png') center top no-repeat;
  }
  &__block11 {
    background: url('../images/cardh__block11.png') center top no-repeat;
  }
  &__block12 {
    background: url('../images/cardh__block12.png') center top no-repeat;
  }
  &__block13 {
    background: url('../images/cardh__block13.png') center top no-repeat;
  }
}
.cardp__cont {
  margin: 15px 0;
  font: 16px $cr;
  line-height: 26px;
}

