.contacts {
  padding: 35px 0;
   background-color: $white;
  @include mq-md {
    padding: 60px 0 0;
  }
}
.contacts .headers {
  text-align: center;
  // border: 1px solid red;
  padding-bottom: 50px;
  &__title {
    font: 24px $cb;
    margin: 0;
    @include mq-lg {
      font-size: 38px;
    }
  }
  &__suptitle {
    color: $headers-h3;
    font: 14px $cr;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    position: relative;
    @include mq-lg {
      font-size: 18px;
    }
    &:after {
      content: url('../images/headers.png');
      position: absolute;
      top: 31px;
      left: 0;
      right: 0;
      text-align: center;
      @include mq-sm {
        top: 30px;
      }
    }
  }
}

.consultation {
  font: 16px $cb;
  color: $grey4;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #9f9f9f;
  @include mq-md {
    max-width: 650px;
    margin: 0 auto 40px;
    font-size: 20px;
    padding-bottom: 0;
    border-bottom: none;
  }
  @include mq-lg {
    max-width: 770px;
  }
}

.bxslider4 {
  padding: 0;
  margin: 0;
  // border: 1px solid red;
}

.bx-pager4--banners {
  max-width: 290px;
  margin: 0 auto 15px;
  @include mq-md {
    max-width: 730px;
    // border: 1px solid red;
    // display: block;
    position: relative;
    top: 10px;
    z-index: 10;
    margin: 0 auto 0;
  }
}

.bx-pager4__link {
  color: $black;
  background-color: initial;
  display: inline-block;
  text-align: center;
  padding: 0 12px;
  font: 16px $cr;
  text-decoration: underline;
  cursor: pointer;
  @include mq-md {
    width: 227px;
    height: 52px;
    padding: 18px 0 18px;
    background-color: $banners-btn;
    color: $white;
    text-decoration: none;
  }
  @include mq-lg {
    width: 240px;
  }
}

.bx-pager4__link.active {
  color: $rose-red;
  position: relative;
  @include mq-md {
    background-color: $banners-btn-hover;
    height: 70px;
    color: $white;
    padding: 26px 0 26px 0;
    position: relative;
  }
  &:after {
    content: url('../images/arrow-down.svg');
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    text-align: center;
  }
}

.cbot {
  margin-top: 35px;
  @include mq-md {
    margin-top: 60px;
  }
  &__title {
    font: 20px $cb;
    color: $grey4;
    text-align: center;
    margin: 0;
    padding-bottom: 35px;
  }
  &__map {
    @include mq-md {
      height: 530px;
    }
  }
}

.bs4 {
  padding: 15px;
  // border: 1px solid red;
  @include mq-md {
    // height: 380px;
    display: table;
    padding: 40px;
  }
  @include mq-lg {
    padding: 40px;
  }
  &__map {
    height: 178px;
    // border: 1px solid green;
    @include mq-md {
      display: table-cell;
      width: 290px;
    }
    @include mq-lg {
      width: 435px;
    }
  }
  &__spacer {
    display: none;
    @include mq-md {
      display: table-cell;
      width: 30px;
    }
  }
  &__info {
    width: 260px;
    margin: 0 auto;
    @include mq-md {
      display: table-cell;
      width: 290px;
    }
    @include mq-lg {
      width: 435px;
    }
  }
}

.bs4__info-title {
  font: 16px $cr;
  line-height: 26px;
  margin: 25px 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #9f9f9f;
  @include mq-md {
    margin: 0 0 15px;
  }
  @include mq-lg {
    font-size: 20px;
    margin: 0 0 15px;
    padding-bottom: 20px;
  }
}

.bs4__info-address,
.bs4__info-pnone,
.bs4__info-time {
  font: 14px $cr;
  padding: 10px 0 10px 30px;
  @include mq-lg {
    font-size: 16px;
  }
}

.bs4__info-address {
  background: url('../images/bs4__info-address.png') left center no-repeat;
  @include mq-md {
    background: url('../images/bs4__info-address980.png') left 10px no-repeat;
  }
}

.bs4__info-pnone {
  background: url('../images/bs4__info-pnone.png') left center no-repeat;
  @include mq-md {
    background: url('../images/bs4__info-pnone980.png') left 10px no-repeat;
  }
}

.bs4__info-time {
  background: url('../images/bs4__info-time.png') left center no-repeat;
  @include mq-md {
    background: url('../images/bs4__info-time980.png') left 10px no-repeat;
  }
}

.bs4__map--bg1 {
  background: url('../images/bs4__map--bg1-980.jpg') center center no-repeat;
  background-size: cover;
}

.bs4__info-btn {
  font: 15px $cb;
  text-transform: uppercase;
  color: #fff;
  width: 188px;
  height: 39px;
  background-color: $order-btn;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px auto;
  text-align: center;
  padding-top: 10px;
  @include mq-md {
    margin: 10px 0;
  }
  a {
    font: 15px $cb;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px;
  }
}
