.faq {
  padding: 35px 0;
  background-color: $grey18;
  @include mq-md {
    padding: 60px 0;
  }
}

.faq .headers {
  text-align: center;
  padding-bottom: 30px;
}

.faq .headers__title {
  font: 24px $cr;
  margin: 0;
  @include mq-lg {
    font-size: 38px;
  }
}

.faq .headers__suptitle {
  color: $headers-h3;
  font: 14px $cr;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  position: relative;
  @include mq-lg {
    font-size: 18px;
  }
  &:after {
    content: url('../images/headers.png');
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.faq__content {
  font: 13px $cl;
  line-height: 18px;
  @include mq-md {
    font-size: 16px;
    line-height: 22px;
  }
}

.faq__i {
  font: 30px $ci;
  color: #57595b;
  margin-right: 10px;
  position: relative;
  top: 4px;
  @include mq-md {
    font-size: 30px;
    margin-right: 30px;
  }
  @include mq-lg {
    font-size: 42px;
  }
}

.faq__main {
  position: relative;
  background-color: $white;
  padding: 153px 15px 15px 15px;
  margin: 50px 0 30px 0;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  @include mq-md {
    display: flex;
    // align-items: center;
    margin: 75px 0 40px 0;
    padding: 15px;
    height: 257px;
  }
    @include mq-lg {
         padding: 15px 40px 15px 40px;
    }

  &:before {
    content: url('../images/fquest.png');
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    text-align: center;
    @include mq-md {
      top: -55px;
      content: url('../images/fquest-980.png');
    }
  }
}

.faq__main1 {
  font: 14px $cr;
  padding: 10px;
  max-width: 260px;
  margin: 0 auto;
  @include mq-md {
    flex: 0 0 170px;
   margin: 0;
  }
  @include mq-lg {
    font-size: 20px;
    flex: 0 0 360px;
      // max-width: 300px;
  }
}

.faq__main1-span {
  font: 18px $cr;
  color: $rose-red;
  display: block;
  margin: 4px 0;
  @include mq-md {
    margin: 20px 0;
  }
  @include mq-lg {
    font-size: 26px;
    line-height: 36px;
  }
}

.faq__main1--mr {
  margin-bottom: 0px;
  @include mq-md {
    margin-right: auto;
    text-align: right;
  }
}

.faq__main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__main-item {
  font: 18px $cr;
  padding-left: 15px;
  background: url('../images/faq__main-item.png') left center no-repeat;
  margin: 4px 0;
  @include mq-md {
    margin: 10px 0;
  }
  @include mq-lg {
    font-size: 24px; // line-height: 36px;
    margin: 10px 0;
    background-position: left 15px;
  }
}