.faq {
  padding: 35px 0;
  background-color: $grey18;
  @include mq-md {
    padding: 60px 0;
  }
}

.faq .headers {
  text-align: center;
  // border: 1px solid red;
  padding-bottom: 30px;
  &__title {
    font: 24px $cb;
    margin: 0;
    @include mq-lg {
      font-size: 38px;
    }
  }
  &__suptitle {
    color: $headers-h3;
    font: 14px $cr;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    position: relative;
    @include mq-lg {
      font-size: 18px;
    }
    &:after {
      content: url('../images/headers.png');
      position: absolute;
      top: 27px;
      left: 0;
      right: 0;
      text-align: center;

    }
  }
}

.faq__content {
  font-size: 13px;
  line-height: 18px;
  @include mq-md {
    font-size: 16px;
    line-height: 22px;
  }
}

.faq__i {
  font: 30px $ci;
  color: #57595b;
  margin-right: 10px;
  position: relative;
  top: 4px;
  @include mq-md {
    font-size: 30px;
    margin-right: 30px;
  }
    @include mq-lg {
      font-size: 42px;
    }
}
