.features {
  padding: 35px 0 10px;
  background-color: $white;
  @include mq-sm {
    padding: 35px 0 35px;
  }
  @include mq-md {
    padding: 60px 0 40px;
  }
}

.headers {
  text-align: center; /* border: 1px solid red;*/
  padding-bottom: 50px;
}

.headers__title {
  font: 24px $cr;
  margin: 0;
  @include mq-lg {
    font-size: 38px;
  }
}

.headers__suptitle {
  color: $headers-h3;
  font: 14px $cr;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  position: relative;
  @include mq-lg {
    font-size: 18px;
  }
  &:after {
    content: url('../images/headers.png');
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    text-align: center;
    @include mq-sm {
      top: 30px;
    }
  }
}

/* Начало нового блока*/
.bx9 {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 25px 15px;
  @include mq-md {
    vertical-align: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

.bx91 {
  position: relative;
  @include mq-md {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 30px;
    padding-left: 40px;
    width: 330px;
  }
  @include mq-lg {
    padding-left: 55px;
  }
}

/* .bx91:nth-of-type(1n+2) {*/
/*     margin-left: 30px;*/
/*   }*/
.bxslider11 {
  padding: 0;
  margin: 0;
}

.bxslider11__img {
  height: 280px;
  padding-left: 0;
  border-bottom: 2px solid #ccc;
  @include mq-md {
    height: 405px;
    border-bottom: none;
  }
  @include mq-lg {
    height: 450px;
  }
}

#bx-pager11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 240px;
  margin: 0 auto;
  @include mq-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px; /* left: 30px;*/
  }
  @include mq-lg {
    top: 35px; /* left: 55px;*/
  }
}
/* Скрываем подсказки всплывающие*/
.tooltip_templates {
  display: none;
    font: 14px $cr;
}
.bx-pager__link11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62px;
          flex: 0 0 62px;
  margin-bottom: 20px;
  border: 2px solid #c0c1c5;
  height: 62px;
  border-radius: 10px;
  display: block;
  @include mq-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42px;
            flex: 0 0 42px;
    height: 42px;
    width: 42px;
    margin-bottom: 8px;
  }
  @include mq-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54px;
            flex: 0 0 54px;
    height: 54px;
    width: 54px;
    margin-bottom: 8px;
  }
}

.bx-pager__link11.active {
  border: 2px solid #ff1a44;
  @include mq-md {
    position: relative;
  }
}

.bx-pager__link11.active:after {
  @include mq-md {
    content: url('../images/arrow-right.png');
    position: absolute;
    top: 10px;
    right: -9px;
  }
  @include mq-lg {
    right: -10px;
    top: 18px;
  }
}

.bx-pager__link11-1 {
  background: url('../images/bx-pager__link11-1.png') left top repeat;
}

.bx-pager__link11-2 {
  background: url('../images/bx-pager__link11-2.png') left top repeat;
}

.bx-pager__link11-3 {
  background: url('../images/bx-pager__link11-3.png') left top repeat;
}

.bx-pager__link11-4 {
  background: url('../images/bx-pager__link11-4.png') left top repeat;
}

.bx-pager__link11-5 {
  background: url('../images/bx-pager__link11-5.png') left top repeat;
}

.bx-pager__link11-6 {
  background: url('../images/bx-pager__link11-6.png') left top repeat;
}





.bxslider11-1 {
  background: url('../images/bxslider11-1.png') center bottom no-repeat;
  @include mq-md {
    background-position: 70px bottom;
  }
  @include mq-lg {
    background: url('../images/bxslider11-1big.png') 95px bottom no-repeat;
  }
}

.bxslider11-2 {
  background: url('../images/bxslider11-2.png') center bottom no-repeat;
  @include mq-md {
    background-position: 70px bottom;
  }
  @include mq-lg {
    background: url('../images/bxslider11-2big.png') 95px bottom no-repeat;
  }
}

.bxslider11-3 {
  background: url('../images/bxslider11-3.png') center bottom no-repeat;
  @include mq-md {
    background-position: 70px bottom;
  }
  @include mq-lg {
    background: url('../images/bxslider11-3big.png') 95px bottom no-repeat;
  }
}

.bxslider11-4 {
  background: url('../images/bxslider11-4.png') center bottom no-repeat;
  @include mq-md {
    background-position: 70px bottom;
  }
  @include mq-lg {
    background: url('../images/bxslider11-4big.png') 95px bottom no-repeat;
  }
}

.bxslider11-5 {
  background: url('../images/bxslider11-5.png') center bottom no-repeat;
  @include mq-md {
    background-position: 70px bottom;
  }
  @include mq-lg {
    background: url('../images/bxslider11-5big.png') 95px bottom no-repeat;
  }
}

.bxslider11-6 {
  background: url('../images/bxslider11-6.png') center bottom no-repeat;
  @include mq-md {
    background-position: 70px bottom;
  }
  @include mq-lg {
    background: url('../images/bxslider11-6big.png') 95px bottom no-repeat;
  }
}


.bx92 {
  @include mq-md {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    vertical-align: top;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 40px;
    width: 330px;
  }
  @include mq-lg {
    padding-right: 55px;
  }
}

.bx92__title {
  font: 24px $cr;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 2px solid #cdcdcd;
  @include mq-md {
    text-align: left;
  }
  @include mq-lg {
    font-size: 38px;
  }
}

.bx92__price,
.bx92__price span {
  font: 18px $cb; /* line-height: 42px;*/
  @include mq-lg {
    font-size: 26px;
  }
}

.bx92__price span {
  font: 24px $cb;
  @include mq-lg {
    font-size: 38px;
  }
}

.bx92__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  border-bottom: 2px solid #cdcdcd;
  @include mq-lg {
    height: 72px;
  }
}

.bx92__price-numb {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 20px;
  @include mq-md {
    padding-left: 0;
  }
}

.bx92__price-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bx92__img {
  height: 225px;
  @include mq-md {
    display: none;
  }
}

.bx92__img--60 {
  background: url('../images/bx9s-2-60.jpg') center top no-repeat;
  background-size: cover;
}

.bx92__text {
  margin-top: 20px;
  font: 14px $cl;
  line-height: 19px;
  @include mq-lg {
    font-size: 16px;
    line-height: 23px;
  }
}

.bx92__buy {
  margin-top: 20px;
  @include mq-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bx92__buy-btn {
  text-align: center;
  @include mq-md {
    text-align: left;
  }
  @include mq-lg {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.bx92__buy-btn a {
  font: 15px "Calibri-Bold", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  background-color: #ff1a44;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.bx92__buy-note {
  font: 14px $cr;
  color: #57595b;
  text-align: center;
  margin-top: 15px;
  @include mq-md {
    text-align: left;
  }
  @include mq-lg {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 0;
  }
}

.keyses {

  width: 290px;
  margin: 40px auto 0;

  @include mq-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  @include mq-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; /* margin: 60px auto 0;*/
  }
}

.key {
  padding-left: 120px;
  height: 120px;
  &:nth-of-type(1n+1) {
    margin-bottom: 20px;
  }
  @include mq-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    padding: 120px 0 0 0;
    height: 250px;
    height: initial;
    &:nth-of-type(odd) {
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
  @include mq-md {
    margin-right: 20px;
    &:nth-of-type(3n+3) {
      margin-right: 0;
    }
  }
  @include mq-lg {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    &:nth-of-type(odd) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.key--bg1 {
  background: url('../images/key--bg1.png') left top no-repeat;

  @include mq-sm {
    background-position: center top;
  }
}

.key--bg2 {
  background: url('../images/key--bg2.png') left top no-repeat;
  @include mq-sm {
    background-position: center top;
  }
}

.key--bg3 {
  background: url('../images/key--bg3.png') left top no-repeat;
  @include mq-sm {
    background-position: center top;
  }
}

.key--bg4 {
  background: url('../images/key--bg4.png') left top no-repeat;
  @include mq-sm {
    background-position: center top;
  }
}

.key--bg5 {
  background: url('../images/key--bg5.png') left top no-repeat;
  @include mq-sm {
    background-position: center top;
  }
}

.key--bg6 {
  background: url('../images/key--bg6.png') left top no-repeat;
  @include mq-sm {
    background-position: center top;
  }
}

.key__title {
  font: 16px $cr;
  color: $black;
  @include mq-sm {
    text-align: center;
  }
  @include mq-md {
    font-size: 20px;
  }
}

.key__text {
  margin-top: 10px;
  position: relative;
  font: 14px $cl;
  @include mq-sm {
    text-align: center;
    margin-top: 20px;
  }
  &:before {
    content: url('../images/key__title-icon.png');
    position: absolute;
    top: -18px;
    left: 0;
    @include mq-sm {
      right: 0;
      text-align: center;
      top: -21px;
    }
  }
}

/* Новый баннер*/
.bx92__sp {
width: 35px;
float: right;
  @include mq-lg {
    width: 45px;
  }
}