.head {
  background-color: $white;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 20px 18px -20px rgba(0, 0, 0, 0.4);
  position: relative;
  // @include mq-md {
  //   box-shadow: 0px 20px 18px -20px rgba(0, 0, 0, 0.4);
  //   position: fixed;
  //   z-index: 9999;
  //  //width: calc(100vw - 17px); // убираем дергание фиксированного хедера при открытии модальног окна
  //   top: 0;
  //   width: 100%;
  // }
}

.header {
  padding: 15px 0;
  @include mq-md {
    display: flex;
    padding: 0 0 10px;
  }
}

.head .logo {
  // border: 1px solid red;
  width: 186px;
  margin: 0 auto 0;
  /* 15px auto 0; */
  background: url('../images/logo.png') left top no-repeat;
  padding-left: 50px;
  height: 70px;
  @include mq-md {
    flex: 0 0 200px;
    margin: 15px 0 0 0;
    padding-left: 50px;
    background-position: 0 0;
  }
  @include mq-lg {
    flex: 0 0 210px;
  }
  &__title {
    margin: 0;
    padding-top: 5px;
    font: 32px $cb;
    color: $logo;
    text-transform: uppercase;
    line-height: 1.1;
  }
  &__text {
    margin: 0 0 10px;
    color: $logo-text;
    font: 14px $cr;
  }
}

.head .discount {
  text-align: center;
  margin-top: 5px;
  @include mq-md {
    flex: 0 0 200px;
    margin-top: 25px;
    padding: 0 20px 0 0;
    text-align: left;
    @include mq-lg {
      flex: 0 0 300px;
    }
  }
  &__text {
    font: 14px $cr;
    margin: 0;
    color: $discount-text;
    @include mq-lg {
      font-size: 16px;
    }
  }
}

.head .phone-wrapper {
  display: flex;
  margin: 10px auto 5px;
  max-width: 300px;
  @include mq-md {
    flex: 1 1 300px;
    margin-top: 23px;
  }
  @include mq-lg {
    margin: 18px 0 20px auto;
    // margin-left: auto;
    max-width: 340px;
  }
}

.head .call {
  margin-left: auto;
  margin-top: 6px;
}

.head .phone__number,
.head .phone__span {
  font: 22px $cl;
  color: $phone;
  @include mq-lg {
    font-size: 26px;
  }
}

.head .phone__span {
  font-family: $cb;
}

.head .phone__link {
  color: $phone;
  font-family: $cl;
}

.head .phone__time {
  font: 12px $cr;
  color: $phone;
  @include mq-lg {
    font-size: 13px;
  }
}

.head .call {
  width: 124px;
  height: 32px;
  background-color: $head-btn;
  text-align: center;
  font: 13px $cr;
  color: $white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include mq-lg {
    width: 138px;
    height: 36px;
    font-size: 15px;
  }
}

.head .call a {
  font: 13px $cr;
  color: $white;
  padding: 10px 5px;
  @include mq-lg {
    font-size: 15px;
  }
}
