.installation {
  padding: 35px 0 15px;
  background-color: $white;
  @include mq-md {
    padding: 60px 0 40px;
  }
  @include mq-lg {
    padding: 60px 0;
  }
}

.installation .headers {
  text-align: center;
  padding-bottom: 50px;
}

.installation .headers__title {
  font: 24px $cr;
  margin: 0;
  @include mq-lg {
    font-size: 38px;
  }
}

.installation .headers__suptitle {
  color: $headers-h3;
  font: 14px $cr;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  position: relative;
  @include mq-lg {
    font-size: 18px;
  }
  &:after {
    content: url('../images/headers.png');
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    text-align: center;
    @include mq-sm {
      top: 30px;
    }
  }
}

.steps {
  &__text {
    background: url('../images/steps.jpg') center top no-repeat;
    padding-top: 200px;
    max-width: 290px;
    margin: 0 auto; // border: 1px solid red;
    @include mq-sm {
      padding-top: 230px;
      max-width: initial;
      display: flex;
      flex-flow: row wrap;
    }
    @include mq-md {
      background: url('../images/steps-690.jpg') center top no-repeat;
      padding-top: 420px;
    }
    @include mq-lg {
      display: block;
      position: relative;
      padding-top: 0;
      height: 500px;
      background: url('../images/steps-980.png') center center no-repeat;
    }
  }
}

.steps__item {
  padding-left: 50px; // border: 1px solid red;
  margin-top: 30px;
  height: 26px;
  @include mq-sm {
    flex: 1 1 200px;
    margin-top: 0;
    height: 80px;
  }
  @include mq-md {
    padding: 0 20px 0 50px; // margin-top: 50px;
    height: 100px;
  }
  @include mq-lg {
    position: absolute;
    margin-top: 0;
    padding: 20px 20px 20px 70px;
    width: 300px; //360
    height: 78px;
  }
}

.steps__item--bg1 {
  background: url('../images/steps__item--bg1.png') left center no-repeat;
  @include mq-sm {
    background-position: left top;
  }
  @include mq-lg {
    background: url('../images/steps__item--bg11.png') left 24px no-repeat;
    top: 0px;
    right: 91px;
  }
}

.steps__item--bg2 {
  background: url('../images/steps__item--bg2.png') left center no-repeat;
  @include mq-sm {
    background-position: left top;
  }
  @include mq-lg {
    background: url('../images/steps__item--bg22.png') left 22px no-repeat;
    top: 208px;
    right: -19px;
  }
}

.steps__item--bg3 {
  background: url('../images/steps__item--bg3.png') left center no-repeat;
  @include mq-sm {
    background-position: left top;
  }
  @include mq-lg {
    background: url('../images/steps__item--bg33.png') left center no-repeat;
    top: 414px;
    right: 90px;
  }
}

.steps__item--bg4 {
  background: url('../images/steps__item--bg4.png') left center no-repeat;
  @include mq-sm {
    background-position: left top;
  }
  @include mq-lg {
    background: url('../images/steps__item--bg44.png') right 14px no-repeat;
    padding: 20px 70px 20px 5px;
    top: 417px;
    left: 92px;
    text-align: right;
  }
}

.steps__item--bg5 {
  background: url('../images/steps__item--bg5.png') left center no-repeat;
  @include mq-sm {
    background-position: left top;
  }
  @include mq-lg {
    background: url('../images/steps__item--bg55.png') right 14px no-repeat;
    padding: 20px 70px 20px 5px;
    top: 217px;
    left: -19px;
    text-align: right;
  }
}

.steps__item--bg6 {
  background: url('../images/steps__item--bg6.png') left center no-repeat;
  @include mq-sm {
    background-position: left top;
  }
  @include mq-lg {
    background: url('../images/steps__item--bg66.png') right 14px no-repeat;
    padding: 20px 70px 20px 5px;
    top: 11px;
    left: 94px;
    text-align: right;
  }
}

.installation .keyses {
  max-width: 290px;
  margin: 40px auto 0;
  display: flex;
  flex-flow: row wrap;
  @include mq-sm {
    max-width: initial;
    margin: initial;
  }
  @include mq-md {
    margin: 0 auto 0;
  }
  @include mq-lg {
    flex-flow: row nowrap;
    margin-top: 40px;
  }
  .key {
    flex: 1 1 300px;
    padding-left: 120px;
    height: 100px; // border: 1px solid red;
    @include mq-sm {
      flex: 1 1 200px;
      padding: 120px 0 0 0;
      height: initial;
      &:nth-of-type(odd) {
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }
    @include mq-md {
      flex: 1 1 210px;
      margin-right: 20px;
      &:nth-of-type(3n+3) {
        margin-right: 0;
      }
    }
    @include mq-lg {
      &:nth-of-type(odd) {
        margin-right: 20px;
      }
    }
    &:nth-of-type(1n+1) {
      margin-bottom: 20px;
      @include mq-lg {
        margin-bottom: 0;
      }
    }
    &__title {
      font: 16px $cb;
      color: $black;
      @include mq-sm {
        text-align: center;
      }
    }
    &__text {
      margin-top: 10px;
      position: relative;
      @include mq-sm {
        text-align: center;
        margin-top: 20px;
      }
      &:before {
        content: url('../images/key__title-icon.png');
        position: absolute;
        top: -18px;
        left: 0;
        @include mq-sm {
          right: 0;
          text-align: center;
          top: -23px;
        }
      }
    }
    &--bg11 {
      background: url('../images/key--bg11.png') left top no-repeat;
      @include mq-sm {
        background-position: center top;
      }
    }
    &--bg22 {
      background: url('../images/key--bg22.png') left top no-repeat;
      @include mq-sm {
        background-position: center top;
      }
    }
    &--bg33 {
      background: url('../images/key--bg33.png') left top no-repeat;
      @include mq-sm {
        background-position: center top;
      }
    }
    &--bg44 {
      background: url('../images/key--bg44.png') left top no-repeat;
      @include mq-sm {
        background-position: center top;
      }
    }
    &--bg55 {
      background: url('../images/key--bg55.png') left top no-repeat;
      @include mq-sm {
        background-position: center top;
      }
    }
  }
}