.tvshow {
  padding: 35px 0 0; // border: 1px solid red;
  background-color: $tvshow-b;
  @include mq-md {
    padding: 60px 0 0;
  }
}

.tvshow .headers {
  text-align: center;
  padding-bottom: 50px;
}

.tvshow .headers__title {
  font: 24px $cr;
  margin: 0;
  @include mq-lg {
    font-size: 38px;
  }
}

.tvshow .headers__suptitle {
  color: $headers-h3;
  font: 14px $cr;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  position: relative;
  @include mq-lg {
    font-size: 18px;
  }
  &:after {
    content: url('../images/headers.png');
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    text-align: center;
    @include mq-sm {
      top: 8px;
    }
    @include mq-md {
      top: 4px;
    }
  }
}

.quest {
  padding: 15px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  background-color: $white;
  border-radius: 3px;
  @include mq-md {
    display: flex;
  }
  @include mq-lg {
    padding: 30px;
  }
  &__img {
    background: url('../images/quest__img.jpg') center top no-repeat;
    height: 111px;
    @include mq-md {
      background-image: url('../images/quest__img-768.jpg');
      flex: 1;
      height: 192px; //134
      margin-right: 30px;
    }
    @include mq-lg {
      background-image: url('../images/quest__img-980.jpg');
      height: 189px;
    }
  }
  &__text {
    @include mq-md {
      flex: 1;
    }
    @include mq-lg {
      padding: 0; //15 0
    }
  }
}

.quest__title {
  font: 18px $cr;
  margin: 10px 0 10px 0;
  text-align: center;
  @include mq-md {
    margin-top: 0;
    text-align: left;
  }
  @include mq-lg {
    font-size: 26px;
    margin: 0;
  }
}

.quest__descr {
  text-align: center;
  font: 14px $cr;
  @include mq-md {
    text-align: left;
  }
  @include mq-lg {
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
  }
}

.quest .slide__btn {
  margin: 15px auto 0;
  @include mq-md {
    margin: 17px 0 0 0;
  }
  @include mq-lg {
    margin: 11px 0 0 0;
  }
}

.bxslider5,
.bxslider6,
.bxslider7 {
  margin: 0;
  padding: 0;
}

.bxslider5-wr {
  margin-top: 38px;
  @include mq-md {
    margin-top: 50px;
  }
}

.bx-pager5 {
  width: 268px;
  border: 3px solid #b9b9b9;
  border-radius: 26px;
  margin: 0 auto 27px;
  background-color: $white;
  box-sizing: border-box;
  overflow: auto;
  @include mq-md {
    width: 370px;
    border-radius: 30px;
  }
  &__link {
    display: block;
    padding: 12px 0;
    width: 131px;
    border-radius: 20px;
    font: 11px $cb;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    float: left;
    @include mq-md {
      font-size: 16px;
      width: 182px;
      border-radius: 30px;
    }
  }
  &__link.active {
    display: block;
    padding: 12px 0;
    width: 131px;
    color: $white;
    background-color: $rose-red;
    text-decoration: none;
    @include mq-md {
      width: 182px;
    }
  }
}

.bxslider5__slide {
  height: 275px; // border: 1px solid red;
  @include mq-md {
    height: 315px;
  }
}

.bxslider6__slide:hover,
.bxslider7__slide:hover {
  cursor: pointer;
  opacity: .8;
}

.fancybox-controls .fancybox-infobar .js-fancybox-index,
.fancybox-controls .fancybox-infobar .js-fancybox-count {
  color: #fff;
}