// Цвета
$rose-red: #ff1a44; // Фон кнопки в шапке, баннер заголовок, бордер баннер
$rose: #ed2347; // Нам 14 лет
$dark-grey2: #231f20; // скидки в шапке, текст в повторяющ блоках
$grey: #575756; // Телефоны в шапке, контакты, лого

$grey3: #1a1a1a; //Банер слоган, текст иконок в банере
$grey4: #1d1d1b; //Форма большой текст в баннере, сертификаты текст
$light-grey: #808080; // Плейсхолдеры в форме баннера
$grey5: #57595b; // Серый цвет табов неактивных, текст новых поколений, иконки лучшие окна, бордеры неактивного аккордиона
$grey6: #666666; // H3 заголовок

$black: #000;
$white: #fff;
$grey12: #c3c3c3;

$grey14: #4d4d4d; // неактивные точки пэйджера, договор

$grey7: #2d2f33; // подвал сайта цвет
$grey10: #eaeaea; // фон в повторяющихся блоках
$grey17: #fdfdfd; // фон в блоке numb
$grey18: #ededed;// фон инновации

$logo: $grey5;
$logo-text: $rose;
$discount-text: $dark-grey2;
$phone: $grey;
$head-btn: $rose-red;
$footer-bg: $grey7;
$measure-t: $dark-grey2;
$order-border: $rose-red;
$order-inp: $grey12;
$order-text: $light-grey;
$order-btn: $rose-red;
$headers-h3: $grey6;
$numb-k: $grey5;
$numb-bg: $grey17;
$innov-bg: $grey18;
$hits-t: $rose-red;
$hits-b: $grey5;
$award-t: $grey4;
$tvshow-b: $grey10;
$tvshow-switch: $rose-red;






// Шрифты
$cb: 'Calibri-Bold', sans-serif;
$ci: 'Calibri-Italic', sans-serif;
$cl: 'Calibri-Light', sans-serif;
$cr: 'Calibri-Regular', sans-serif;

// Точки останова
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1060px;
// $screen-xl: 1200px;

